.question {
    font-weight:bold;
    border: 1px solid black;
    padding: 10px;
    border-radius: 10px;
}

.ui-btn-inner { 
  white-space: normal !important; 
}

.ui-header .ui-title, .ui-footer .ui-title {
    margin:10px 20px;
}
